<div class="container">
    <div class="row">
        <div class="col-xs-12" id="stream-queue">
            Stream queue goes here
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2" id="left-buffer">
            Left buffer
        </div>
        <div class="col-xs-8" id="main-stream">
            <iframe src="//player.twitch.tv/?channel=day9tv" frameborder="0" scrolling="no" height="378" width="620"></iframe>
        </div>
        <div class="col-xs-2" id="right-buffer">
            Right buffer
        </div>
    </div>
</div>