<div class="container">
    <% if @streamers.count > 1 %>
        <!-- Stream queue -->
        <div class="row">
            <div class="col-md-12" id="stream-queue">
                <% @streamers[ 1..-1 ].each_with_index do | streamer, index | %>
                    <iframe id="deck-player-<%= index %>" src="//player.twitch.tv/?channel=<%= streamer[ :name ] %>" frameborder="0" scrolling="no" style="width: 20%;"></iframe>
                <% end %>

            </div>
        </div>
    <% end %>
    <div class="row">
        <div class="col-md-2" id="left-buffer">
            <!--Left buffer-->
        </div>
        <div class="col-md-8" id="main-stream">
            <iframe id="main-stream-player" src="//player.twitch.tv/?channel=<%= @streamers.first[ :name ] %>" frameborder="0" scrolling="no" style="width: 80%;"></iframe>
        </div>
        <div class="col-md-2" id="right-buffer">
            <!--Right buffer-->
        </div>
    </div>
</div>

<script>
    var main_player_width = $( '#main-stream-player' ).width();
    $( '#main-stream-player' ).css( { 'height': main_player_width + 'px' } );
</script>