<!DOCTYPE html>
<html>
<head>
    <title>TwitchDeck - Help</title>
    <%= render 'partials/google_analytics_init' %>
</head>
<body>
<div style="margin: 0 10% 0 10%;">
    <h1>Welcome to the TwitchDeck Beta!</h1>
    <h3>What is TwitchDeck?</h3>
    <p>A web application that lets you watch multiple Twitch streams on the same page, at the same time. TwitchDeck
        displays a "primary" streamer in a larger player, with your other streamers displayed below in smaller players.
        TwitchDeck will adjust the size, position, and audio of streamers for you automatically.</p>

    <h3>How does it work?</h3>
    <p>After entering your preferred priority of streamers, TwitchDeck will put the first online streamer in the main
        player, in the center of the screen, with the audio set to max. Next, TwitchDeck will place any remaining online
        streams, in order, in the subway bar under the main player with the volume turned off. Finally, offline streams
        will be placed behind them.</p>
    <p>The order you provide streamers in determines their priority. If the highest-priority online streamer isn't in
        the main player, it will trade places with that stream. The opposite is true if the main streamer goes offline -
        the next highest-priority streamer will take its place in the main stream. You can override this behavior by
        using the series of buttons above the main player - whichever one you click will swap places with whichever
        stream is in the main player.</p>
    <p>TwitchDeck will control the audio of each stream automatically so the main streamer is turned on while others are
        turned off, but you're able to change audio and stream quality like a normal Twitch stream player by hovering
        over each stream.</p>

    <h3>Do I have to pay to use TwitchDeck?</h3>
    <p>No! TwitchDeck is, and will always remain, free. I created TwitchDeck to give the Twitch community and myself a
        useful and fun tool to watch multiple streamers, and provide a better viewing experience through its automation
        features. If you'd like to support TwitchDeck, please tell your friends and other Twitch users about it. The
        sharing links in the player page are a great way to do this!</p>

    <h3>Where can I get updates, request features, or report a problem?</h3>
    <p>Check out the TwitchDeck subreddit at <%= link_to 'r/twitchdeck', 'http://www.reddit.com/r/twitchdeck' %></p>

    <h3>There's a blank box next to the main stream frame. What's that about?</h3>
    <p>That's the chat panel. Normally, you'd see the chat for the main streamer (or whichever you select) in that
        panel, so you can chat while you watch. Unfortunately, when TwitchDeck switched to using SSL to secure all
        transactions, the panel stopped loading. As it turns out, Twitch does not yet support HTTPS for their embedded
        chat iframe, so until they do, there isn't anything that can be done to load that chat panel.</p>
    <p>The good news is that there's a workaround in place - if you click the "Open Chat" button next to the drop-down
        over what would be the chat panel, the selected stream's chat will open in a new tab. You can then, for
        instance, drag that out into its own browser window and place it next to the main TwitchDeck window. Even
        better, once Twitch flips the lights on for HTTPS chat, the panel will just work, appearing in the
        currently-blank spot in the UI.</p>
    <p>Until then, your best bet is to open the chat in a new window and hide the chat panel. I feel your pain -
        something's just missing with that chat panel gone - but hang in there! Twitch is hard at work to get it
        done.</p>

    <h1>Terms of Service</h1>
    <p><b>Last updated November 29, 2015.</b></p>
    <p>TwitchDeck is provided free-of-charge for general use, does not collect any personal information or login
        credentials, and is subject to all of the terms of service of Twitch's embedded video players and chat.</p>

    <h1 id="privacy-policy">Privacy Policy</h1>
    <p><b>Last updated December 4, 2015.</b></p>
    <p>TwitchDeck makes use of the widely-used Google Analytics product to aggregate web site usage data, and as such,
        is subjected to all of Google's terms and conditions of use, including the use of cookies.</p>
    <p>Google Analytics does not collect personal information about site visitors, as noted in their
        documentation <%= link_to 'here', 'https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage' %>
        . Specifically:</p>
    <blockquote cite="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">Important:
        Google Analytics does not store any personal information about your website users. Read the Google Analytics
        privacy document for more details.
    </blockquote>
</div>
</body>
</html>