<h1>Welcome to TwitchInTwitch!</h1>
<h3>What is TwitchInTwitch?</h3>
<p>A web application that lets you watch multiple Twitch streams on the same page, at the same time. Inspired by the fantastic <a href="http://www.multitwitch.tv">MultiTwitch</a>, TwitchInTwitch displays a "primary" streamer in a larger player, with your other streamers displayed above in smaller players, muted by default.</p>

<h3>How do I use it?</h3>
<p>Enter the names of the streamers you'd like to watch, in order of priority. For instance: <b>twitchintwitch.tv/day9tv/covert_muffin/kinggothalion</b> will display <a href="http://www.twitch.tv/day9tv">Day[9]</a>'s stream in the main player, with <a href="http://www.twitch.tv/covert_muffin">Covert_Muffin</a>'s and <a href="http://www.twitch.tv/kinggothalion">KingGothalion</a>'s streams above it, muted by default. TwitchInTwitch will order the streams on-page first by whether they're online or offline, then by the priority you specify.</p>
<p>When your primary streamer goes offline, they are moved out of the primary player, and the next online stream in your queue is moved into it. You can manually swap streams into the primary slot via drag-and-drop.</p>

<h3>I'm a developer; can I create a fork of TwitchInTwitch?</h3>
<p>Sure! TwitchInTwitch is an open-source project, so feel free to fork your own. Please be sure to give credit when doing this.</p>