<%= gravatar_for @user %> <%= @user.email %>

<h1>Streamers</h1>
<p>Drag and drop streamers to change priority.</p>
<div><input id="streamer-name" type="text" style="width: 300px;">
    <button id="add-streamer">Add</button>
</div>
<ol class="vertical">
    <% if @user.streamers.present? %>
        <% @user.streamers.split('&').each do |streamer| %>
            <li class="streamer-name"><%= streamer.capitalize %></li>
        <% end %>
    <% end %>
</ol>
<button id="save-streamers">Save</button>
<script src="js/jquery-sortable.js"></script>

<script>
    $( '#add-streamer' ).click( function () {
        var name = $( '#streamer-name' ).val();
        if ( name === '' ) {
            alert( "Streamer name can't be blank." );
        } else if ( '<%= @user.streamers %>'.split( '&' ).indexOf( name ) !== -1 ) {
            alert( "Streamer is already in your list." );
        } else {
            $( 'ol.vertical' ).append( '<li class="streamer-name">' + name + '</li>' );
        }
    } );

    $( '#streamer-name' ).keyup( function ( event ) {
        if ( event.keyCode == 13 ) { // Enter
            $( '#add-streamer' ).click();
        }
    } );

    $( function () {
        $( 'ol.vertical' ).sortable();
    } )
</script>