@import 'variables';

.menu {
    text-align: right;
    font-size: $text-large;
}

#theater_mode_toggle.theater_mode_active {
    color: white;
}

#hide_chat_toggle.hide_chat_mode_active {
    color: white;
}