@import 'variables';

.menu {
    text-align: right;
}

ul#display-menu {
    margin-bottom: 0px;
    padding-left: 0px;
    flex-wrap: nowrap;

    > li {
        display: inline;

        &:before {
            content: "  \2022  ";
        }

        &.no-bullet:before {
            content: "";
        }
    }
}

#theater_mode_toggle.theater_mode_active {
    color: white;
}

#hide_chat_toggle.hide_chat_mode_active {
    color: white;
}

ul.dropdown-menu {
    background-color: $abyss;

    > li {
        > a, a:link, a:visited, a:active {
            color: $light-purple;
            text-decoration: none;

            &:hover {
                color: white;
                text-decoration: none;
                background-color: #222;
            }
        }
    }
}