@import 'variables';

a {
    color: $light-purple;

    &.button {
        font-weight: bold;
        text-decoration: none;
        background-color: $dark-purple;
        padding: 0 6px 0 6px;
        border: 1px solid #cccccc;
        border-right-color: #333333;
        border-bottom-color: #333333;
    }

    &.button-inactive {
        @extend .button;
        opacity: 0.5;
        color: $dark-purple;
        background-color: $dark-gray;
        pointer-events: none;
    }
}

body {
    color: $purple;
    background-color: $abyss;
    font-family: arial;
}

body, html {
    height: 100%;
    width: 100%;
}

div {
    &#stream-queue {
        overflow-x: auto;
        overflow-y: hidden;
    }
}

h1 {
    color: $light-purple;
}

h3 {
    color: $light-purple;
}

iframe {
    &#main-stream-player {
        flex: 3 1 auto;
    }

    &#chat {
        flex: 0 0 auto;
    }

    &.on-deck-stream {
        flex: 0 0 20%;
    }
}

p {
    &.beta {
        color: $light-purple;
    }
}

span {
    &.button {
        font-weight: bold;
        text-decoration: none;
        background-color: $dark-purple;
        padding: 2px 6px 2px 6px;
        border: 1px solid #cccccc;
        border-right-color: #333333;
        border-bottom-color: #333333;
    }

    &.button-inactive {
        @extend .button;
        opacity: 0.5;
        color: $dark-purple;
        background-color: $dark-gray;
        pointer-events: none;
    }
}
