$light-purple: #815FC0;
$purple: #6441A5;
$dark-purple: #4B307B;
$dark-gray: #737373;
$abyss: #111111;

a {
    color: $light-purple;

    &.button {
        font-weight: bold;
        text-decoration: none;
        background-color: $dark-purple;
        padding: 2px 6px 2px 6px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
    }
}

body {
    color: $purple;
    background-color: $abyss;
    font-family: arial;
}

div {
    &#stream-queue {
        display: inline-block;
        float: left;
        overflow-x: auto;
        overflow-y: hidden;
        text-align: center;
        white-space: nowrap;
    }
}

h1 {
    color: $light-purple;
}

h3 {
    color: $light-purple;
}

p {
    &.beta {
        color: $light-purple;
    }
}