@import 'variables';

a {
    color: $light-purple;
}

span {
    color: $light-purple;

    &.button {
        font-weight: bold;
        text-decoration: none;
        background-color: $dark-purple;
        padding: 0 6px 0 6px;
        border: 1px solid #cccccc;
        border-right-color: #333333;
        border-bottom-color: #333333;

        &:hover {
            color: white;
            background-color: $light-purple;
            cursor: pointer;
        }
    }

    &.button-inactive {
        @extend .button;
        opacity: 0.5;
        color: $dark-purple;
        background-color: $dark-gray;
        pointer-events: none;
    }

    &.button-active {
        @extend .button;
        color: white;
        background-color: $light-purple;
        pointer-events: none;
    }
}

body {
    color: $purple;
    background-color: $abyss;
    font-family: arial;
}

body, html {
    height: 100%;

    &.noscroll {
        overflow-y: hidden;
    }
}

div#chat-holder {
    border: 1px solid $light-purple;
    border-top: 2px solid $light-purple;
    border-right: 2px solid $light-purple;

    > iframe.hidden {
        display: none;
    }
}

h1 {
    color: $light-purple;
}

h3 {
    color: $light-purple;
}

iframe {
    border: 1px solid $light-purple;

    &#main-stream-player {
        border-left: 2px solid $light-purple;
        border-top: 2px solid $light-purple;

        &.hide_chat {
            border-right: 2px solid $light-purple;
        }

        &.theater {
            border-bottom: 2px solid $light-purple;
        }
    }

    &#chat {
        border: none;

        &.theater {
            border-bottom: 2px solid $light-purple;
        }
    }
}

select {
    color: white;
    background-color: $light-purple;
}

select option {
    color: $light-purple;
    background-color: $dark-purple;

    &:hover {
        @extend select
    }
}

#main-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    > div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;

        // "Switch to" div
        &:nth-child(1) {
            flex: 0 0 auto;

            > div {
                // "Switch to..." text
                &:nth-child(1) {
                    flex: 0 0 auto;
                    padding: 0 5px 0 5px;
                }

                // Streamer buttons
                &:nth-child(2) {
                    flex: 1;
                }

                // Menu
                &:nth-child(3) {
                    flex: 0 0 auto;
                    padding: 0 5px 0 5px;
                }
            }
        }

        // Main div
        &:nth-child(2) {
            flex: 1;

            > * {
                // Main stream player
                &:nth-child(1) {
                    flex: 6 0 274px;
                }

                // Chat panel div
                &:nth-child(2) {
                    flex: 1 0 340px;
                    display: flex;
                    flex-direction: column;

                    &.theater:not(.hide_chat) {
                        flex: 0 0 340px;
                    }

                    &.hide_chat {
                        display: none;
                    }

                    > {
                        // Chat selector
                        //select {
                        //    flex: 0 0 auto;
                        //}

                        // Chat iframe
                        iframe {
                            flex: 1 0 100%;
                        }
                    }
                }
            }
        }

        // On-deck streams div
        &:nth-child(3) {
            flex: 0 0 253px;
            flex-wrap: nowrap;

            &.theater {
                display: none;
            }

            > iframe {
                flex: 0 0 393px;

                &.theater {
                    display: none;
                }
            }
        }
    }
}

#stream-queue {
    overflow-x: auto;
    overflow-y: hidden;

    > iframe {
        border-bottom: 2px solid $light-purple;

        &:nth-child(1) {
            border-left: 2px solid $light-purple;
        }

        &:nth-last-child(1) {
            border-right: 2px solid $light-purple;
        }
    }
}

.beta {
    color: $light-purple;
}

::-webkit-scrollbar {
    color: $purple;
    background-color: $purple;
}

::-webkit-scrollbar-track {
    color: $dark-purple;
    background-color: $dark-purple;
}

::-webkit-scrollbar-thumb {
    color: $light-purple;
    background-color: $light-purple;
    border-radius: 100px;
}