// Place all the styles related to the display controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$purple: #6441A5;
$light-purple: #815FC0;
$dark-purple: #4B307B;
$dark-gray: #737373;

h1 {
    color: $purple;
}

body {
    background-color: black;
    font-family: arial;
}

