@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'variables';

// ====== //
// Normal //
// ====== //
a.button {
    @extend span.button;
}

a, a:link, a:visited, a:active {
    color: $light-purple;
    text-decoration: none;

    &:hover {
        color: white;
        text-decoration: none;
    }

    &.btn-primary-purple {
        color: $light-purple;
        background-color: $dark-purple;

        &:hover {
            color: white;
            background-color: $light-purple;
        }
    }
}

button.btn-primary-purple {
    @extend a.btn-primary-purple;
}

span {
    color: $light-purple;

    &.button {
        font-weight: bold;
        text-decoration: none;
        background-color: $dark-purple;
        padding: 0 6px 0 6px;
        border: 1px solid #cccccc;
        border-right-color: #333333;
        border-bottom-color: #333333;

        &:hover {
            color: white;
            background-color: $light-purple;
            cursor: pointer;
        }

        &:active {
            // Invert colors - gives the illusion of a depressed button
            border-right-color: #cccccc;
            border-bottom-color: #cccccc;
            border-left-color: #333333;
            border-top-color: #333333;
        }
    }

    &.button-inactive {
        @extend .button;
        opacity: 0.5;
        color: $dark-purple;
        background-color: $dark-gray;
        pointer-events: none;
    }

    &.button-active {
        @extend .button;
        color: white;
        background-color: $light-purple;
        pointer-events: none;
    }
}

body, .twitchdeck-theme {
    color: $purple;
    background-color: $abyss;
    font-family: arial;
}

body, html {
    min-height: 100%;
    height: 100%;
    max-height: 100%;

    &.noscroll {
        overflow-y: hidden;
    }
}

h1 {
    color: white;
}

h3 {
    color: $light-purple;
}

select {
    color: white;
    background-color: $light-purple;
}

select option {
    color: $light-purple;
    background-color: $dark-purple;

    &:hover {
        @extend select
    }
}

#chat-container {
    flex-basis: 340px;
    flex-grow: 1;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;

    border: 0px;
    border-left: 2px solid $light-purple;

    text-align: center;

    > select {
        flex: 0 0 auto;
    }

    > iframe {
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 0;

        border: 0px;
    }
}

#landing-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    min-height: 100%;
    margin: auto;
    top: 0;
    left: 0;
}

#main-container {
    min-height: 100%;
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
}

#main-stream {
    flex: 1 1 auto;
    border: 2px solid $light-purple;
}

#main-stream-container {
    flex: 6 0 274px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    border: 0px;

    > iframe {
        flex: 0 0 100%;
        border: 0px;
    }

    // ====================================== //
    // Two Streamers - 50/50 horizontal split //
    // ====================================== //
    &.split_two {
        > iframe {
            flex: 0 0 100%;
            border: 0px;

            &:nth-child(1) {
                border-bottom: 1px solid $light-purple;
            }

            &:nth-child(2) {
                border-top: 1px solid $light-purple;
            }
        }
    }
    // ========================================== //
    // Three Streamers - 50/25/25 split, two rows //
    // ========================================== //
    &.split_three {
        > iframe {
            border: 0px;
            flex: 0 0 50%;

            &:nth-child(1) {
                flex: 0 0 100%;
                border-bottom: 1px solid $light-purple;
            }

            &:nth-child(2) {
                border-top: 1px solid $light-purple;
                border-right: 1px solid $light-purple;
            }

            &:nth-child(3) {
                border-top: 1px solid $light-purple;
                border-left: 1px solid $light-purple;
            }
        }
    }
    // ================================================== //
    // Four Streamers - 25/25/25/25 split, four quadrants //
    // ================================================== //
    &.split_four {
        > iframe {
            flex: 0 0 50%;
            border: 0px;

            &:nth-child(1) {
                border-right: 1px solid $light-purple;
                border-bottom: 1px solid $light-purple;
            }

            &:nth-child(2) {
                border-left: 1px solid $light-purple;
                border-bottom: 1px solid $light-purple;
            }

            &:nth-child(3) {
                border-right: 1px solid $light-purple;
                border-top: 1px solid $light-purple;
            }

            &:nth-child(4) {
                border-left: 1px solid $light-purple;
                border-top: 1px solid $light-purple;
            }
        }
    }
}

#main-stream-player {
    &:not(.split_two) &:not(.split_three) &:not(.split_four) {
        flex: 0 0 100%;
    }
    border: 0px;
}

#stream-queue {
    flex: 0 0 auto;
    border: 2px solid $light-purple;
    border-top: 0px;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    > iframe {
        border: 0px;

        &:not(:nth-last-child(1)) {
            border-right: 2px solid $light-purple;
        }
    }
}

#stream-switch-tabs {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 0px;
    margin-right: 0px;

    > div {
        // "Switch to..." text
        &:nth-child(1) {
            flex-basis: auto;
            flex-grow: 0;
            flex-shrink: 0;
            padding: 0 5px 0 5px;
        }

        // Streamer buttons
        &:nth-child(2) {
            flex-basis: auto;
            flex-grow: 1;
            flex-shrink: 1;
            flex-wrap: wrap;
        }

        // Menu
        &:nth-child(3) {
            flex: 0 0 auto;
            padding: 0 5px 0 5px;
        }
    }
}

.beta {
    color: $light-purple;
}

.flex_row {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-right: 0;
}

.flex_wrap {
    flex-wrap: wrap;
}

.landing-box {
    text-align: center;
    padding: 10px;
    background-color: $dark-purple;
    border: 10px solid $purple;
    flex: 0 0 auto;
    min-width: 50%;
    max-width: 100%;
    margin: auto;
    overflow-wrap: break-word;
}

.landing-buffer {
    flex: 1 0 auto;
}

.on-deck-stream {

    flex: 0 0 auto;
}

.pointer {
    &:hover {
        cursor: pointer;
    }
}

.prelative {
    position: relative;
}

::-webkit-scrollbar {
    color: $purple;
    background-color: $purple;
    height: 10px;
}

::-webkit-scrollbar-track {
    color: $dark-purple;
    background-color: $dark-purple;
}

::-webkit-scrollbar-thumb {
    color: $light-purple;
    background-color: $light-purple;
    border-radius: 100px;
}

// ==================================================================== //
// Theater mode - Main stream and chat only. All other streamers hidden //
// ==================================================================== //
.theater {
    &#chat-container {
        &:not(.hide_chat) {
            flex-basis: 340px;
            flex-grow: 0;
            flex-shrink: 0;
        }
    }

    &#stream-queue {
        display: none;
    }

    &#main-stream-container {
        > iframe {
            flex: 0 0 100%;

            &:not(:nth-child(1)) {
                display: none;
            }
        }
    }

}

// ========= //
// Hide Chat //
// ========= //
.hide_chat {
    &#chat-container {
        display: none;
    }
}