@import 'variables';

a {
    color: $light-purple;

    &.button {
        font-weight: bold;
        text-decoration: none;
        background-color: $dark-purple;
        padding: 2px 6px 2px 6px;
        border: 1px solid #cccccc;
        border-right-color: #333333;
        border-bottom-color: #333333;
    }

    &.button-inactive {
        opacity: 0.5;
        font-weight: bold;
        text-decoration: none;
        color: $abyss;
        background-color: $dark-gray;
        padding: 2px 6px 2px 6px;
        border: 1px solid #cccccc;
        border-right-color: #333333;
        border-bottom-color: #333333;
    }
}

body {
    color: $purple;
    background-color: $abyss;
    font-family: arial;
}

div {
    &#stream-queue {
        display: inline-block;
        float: left;
        overflow-x: auto;
        overflow-y: hidden;
        text-align: center;
        white-space: nowrap;
    }
}

h1 {
    color: $light-purple;
}

h3 {
    color: $light-purple;
}

p {
    &.beta {
        color: $light-purple;
    }
}