/**************
 * Containers *
 **************/
.flexbox {
    display: flex;

    &.row {
        flex-direction: row;
    }

    &.column {
        flex-direction: column;
    }

    &.nowrap {
        flex-wrap: nowrap;
    }
}

/*************
 * Flex sizing
 *************/
.flexbox {
    * {
        flex-shrink: 1;
    }

    .child-zero {
        flex: 0 0 auto;
    }

    .child-one {
        flex-grow: 1;
    }

    .child-five {
        flex-grow: 5;
    }
}

/*************************
 * Flexbox child modifiers
 *************************/
.flexbox {
    .width-20 {
        flex-basis: 20%;
    }
}